<%= form_for(@program_of_study) do |f| %>
  <% if @program_of_study.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program_of_study.errors.count, "error") %> prohibited this program_of_study from being saved:</h2>

      <ul>
      <% @program_of_study.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :program %><br>
    <%= f.text_field :program %>
  </div>
  <div class="field">
    <%= f.label :section_id %><br>
    <%= f.text_field :section_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
