<%= form_for(@peo_covered_by_slo) do |f| %>
  <% if @peo_covered_by_slo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@peo_covered_by_slo.errors.count, "error") %> prohibited this peo_covered_by_slo from being saved:</h2>

      <ul>
      <% @peo_covered_by_slo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_learning_outcome_id %><br>
    <%= f.text_field :student_learning_outcome_id %>
  </div>
  <div class="field">
    <%= f.label :program_educational_objective_id %><br>
    <%= f.text_field :program_educational_objective_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
