<%= form_for(@slo_covered_by_kt) do |f| %>
  <% if @slo_covered_by_kt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slo_covered_by_kt.errors.count, "error") %> prohibited this slo_covered_by_kt from being saved:</h2>

      <ul>
      <% @slo_covered_by_kt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_learning_outcome_id %><br>
    <%= f.text_field :student_learning_outcome_id %>
  </div>
  <div class="field">
    <%= f.label :knowledge_topic_id %><br>
    <%= f.text_field :knowledge_topic_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
