
<table style="width:75%">
  <thead>
    <tr>
      <th>Title</th>
      <th>Spring Correct</th>
      <th>Spring Incorrect</th>
      <th>Summer Correct</th>
      <th>Summer Incorrect</th>
      <th>Fall Correct</th>
      <th>Fall Incorrect</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% results.each do |row| %>
      <tr>
        <td><%= row[0] %></td>
        <td><%= row[1] %></td>
        <td><%= row[2] %></td>
        <td><%= row[3] %></td>
        <td><%= row[4] %></td>
        <td><%= row[5] %></td>
        <td><%= row[6] %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

