
<table style="width:75%">
  <thead>
    <tr>
      <th>Course</th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>E</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% results.each do |row| %>
      <tr>
        <td><%= row[0] %></td>
        <td><%= row[1] %></td>
        <td><%= row[2] %></td>
        <td><%= row[3] %></td>
        <td><%= row[4] %></td>
        <td><%= row[5] %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

