<h1>Search Database Test</h1>


<h2>Search: </h2>
<%= form_tag "/results/search" do %>
  
  <%= label_tag(:qry, "Query with first name:") %>
  <br>
  <%= text_field_tag(:qry) %>

  <br><br>

  <%= submit_tag "Query" %>
<% end %>

  <br><br>  <br><br>
 
  
  <h1>ABET Reports</h1>
      <br>  
        <h2>Search based on Year: </h2>

<%= form_tag "/results/abetReportYear" do %>
 <p>
    <label for="year">Year</label>
  <%= text_field_tag :year %>
 
 </p>

 <p>
   <%= submit_tag 'Submit' %>
 </p>

<% end %>
  <br>

  
<h2>Search based on Year and Semester: </h2>

  <%= form_tag "/results/abetReportYearSemester" do %>
   <p>
     Year:<br />
     <%= text_field_tag 'Year', nil, disabled: false %>
   </p>
   <p>
   <br />
   <%= select_tag "Semester", options_for_select([['Spring', 'Spring'], ['Summer', 'Summer'],['Fall','Fall']], disabled: false) %>
 </p>
 <p>
   <%= submit_tag 'Submit' %>
 </p>
<% end %>



