<style>
body {
			       background-image: url(https://cse.wright.edu/sites/default/files/Russ.jpg);
			}
</style>
<body>

<div id="banner">
			<span title="return to Wright State College of Computer Science and Engineering"><a href="http://cecs.wright.edu/"><img src="http://cecs.wright.edu/sites/all/themes/cecs/img/logo3.png"/></a></span>
			 
			<br>
			
		</div>
		<br>
	<div id="ba2">	
	 <h3>	
		<a href="/"><strong><button>Home page</button></strong></a>
		<a href="/importing"><strong><button>Upload Results</button></strong></a>
  		<a href="/results"><strong><button>Generate Report</button></strong></a>
  		<a href="/query"><strong><button>Dynamic Query</button></strong></a>
         </h3>
	</div>
	<br>
    <div id="marilyn2">
<h1>Search Database Test</h1>


<h2>Search: </h2>
<%= form_tag "/results/search" do %>
  
  <%= label_tag(:qry, "Query with first name:") %>
  <br>
  <%= text_field_tag(:qry) %>

  <br><br>

  <%= submit_tag "Query" %>
<% end %>

  <br><br>  <br><br>
 
  
  <h1>ABET Reports</h1>
      <br>  
        <h2>Search based on Year: </h2>

<%= form_tag "/results/abetReportYear" do %>
 <p>
    <label for="year">Year</label>
  <%= text_field_tag :year %>
 
 </p>

 <p>
   <%= submit_tag 'Submit' %>
 </p>

<% end %>
  <br>

  
<h2>Search based on Year and Semester: </h2>

  <%= form_tag "/results/abetReportYearSemester" do %>
   <p>
     Year:<br />
     <%= text_field_tag 'Year', nil, disabled: false %>
   </p>
   <p>
   <br />
   <%= select_tag "Semester", options_for_select([['Spring', 'Spring'], ['Summer', 'Summer'],['Fall','Fall']], disabled: false) %>
 </p>
 <p>
   <%= submit_tag 'Submit' %>
 </p>
<% end %>
</div>
</div>
</body>


