<style>
body {
			       background-image: url(https://cse.wright.edu/sites/default/files/Russ.jpg);
			}
</style>
<body>

<div id="banner">
			<span title="return to Wright State College of Computer Science and Engineering"><a href="http://cecs.wright.edu/"><img src="http://cecs.wright.edu/sites/all/themes/cecs/img/logo3.png"/></a></span>
			 
			<br>
			
		</div>
		<br>
	<div id="ba2">	
	 <h3>	
		<a href="/"><strong><button>Home page</button></strong></a>
		<a href="/importing"><strong><button>Upload Results</button></strong></a>
  		<a href="/results"><strong><button>Generate Report</button></strong></a>
  		<a href="/query"><strong><button>Dynamic Query</button></strong></a>
         </h3>
	</div>
	<br>
    <div id="marilyn2">
<h1>Upload Quiz Results</h1>


<h2>Upload a class section quiz results:</h2>
<%= form_tag "/importing/loadQuiz/", multipart: true do %>
  <%= file_field_tag :file %>

<br><br>
  <%= label_tag(:crn, "CRN:") %>
  <%= text_field_tag(:crn) %>

<br><br>
  <%= label_tag(:course, "Program (CS or CEG):") %>
  <%= text_field_tag(:course) %>
<br>
  <%= label_tag(:courseNumber, "Course Number:") %>
  <%= text_field_tag(:courseNumber) %>

<br><br>
  <%= label_tag(:instrLastName, "Facultie Last Name:") %>
  <%= text_field_tag(:instrLastName) %>
<br>
  <%= label_tag(:instrFirstName, "Facultie First Name:") %>
  <%= text_field_tag(:instrFirstName) %>

<br><br>
  <%= label_tag(:semester, "Semester (Spring, Summer, Fall):") %>
  <%= text_field_tag(:semester) %>

<br><br>
  <%= label_tag(:year, "Year:") %>
  <%= text_field_tag(:year) %>

<br><br>
  <%= label_tag(:section, "Section:") %>
  <%= text_field_tag(:section) %>



<br><br>

  <%= submit_tag "Import" %>
<% end %>



<h2>Upload SLOs:</h2>
<%= form_tag "/importing/loadSlo", multipart: :true do %>
  <%= file_field_tag :file %>

<br><br>

  <%= submit_tag "Load SLO" %>
<% end %>

<h2>Upload SLO covered by KTs:</h2>
<%= form_tag "/importing/loadSloCoveredByKt", multipart: :true do %>
  <%= file_field_tag :file %>

<br><br>

  <%= submit_tag "Load SLOcoveredByKTs" %>
<% end %>


<h2>Upload IR Report:</h2>
<%= form_tag "/importing/loadIRreport", multipart: :true do %>
  <%= file_field_tag :file %>

<br><br>

  <%= submit_tag "Load IR report" %>
<% end %>
</div>
</body>